//designer please put your stuff here - globals (colors, fonts, etc)
$left_bar_backing: #505050, width: 264px, height: 3171px;
$user_backing: #690800, width: 256px, height: 110px; 
$oil_and_gas: background-image: url("oil and gas.png"), width: 1195px, height: 412px;

